<div id="welcome">
Hi Micah! <span class="smaller">Check this out...</span>
</div>

<%= render :partial => "/refinery/news/items/main_page_news" %>  
<%#= render :partial => "/refinery/content_page" %>

<div id="toolbox">
  <div class="inner">
    <div class="exp">
      
    </div>
    <a class="expandbtn"></a>
    
    <div class="exp">
      
    </div>
    <a class="expandbtn"></a>
  </div>
</div>
