<div id="welcome">
Hi Micah! <span class="smaller">Check this out...</span>
</div>
<div id="page_interior">
  <div id="hero">
    <div class="image">
    </div>
    <div class="story">
      <h2>Transformation in the Locker Room</h2>
      <div class="meta">Published on December 22, 2011</div>
      <div class="content">
        <p>Just two months ago I was speaking in front of the St. Cloud State football team for the first time, knowing no players but praying that God would one day build a spiritual movemvent on this team. At the first Bible study, only one player came - Corey, who is a junior. I prayed that God might use Corey as a gateway to his team. Prayers have been answered through Corey! The head coach now sends a weekly text message to his team to remind them of our Bible study and five to six guys now come every week!</p>
        <p><%= link_to("Read More", "/", :class => "btn readmore")%>
      </div>
    </div>
  </div>
  <div class="clr"></div>
  <div id="nothero">
    
    <article>
      <div class="image">
        <%= link_to(image_tag("/images/holder.png"),"") %>
      </div>
      <div class="story">
        <h3>Cru Students Make an Impact in a Community: Melissa’s Story</h3>
        <div class="meta">Published on December 22, 2011</div>
        <div class="content">
          <p>Melissa was desperate and she “wanted God to do something,” when four college students came to her door with food and the gospel.</p>
        </div>
        <div class="readmore">
          <a href="">Read More</a>
        </div>
      </div>
    </article>
    <article>
      <div class="image">
        <%= link_to(image_tag("/images/holder.png"),"") %>
      </div>
      <div class="story">
        <h3>Cru Students Make an Impact in a Community: Melissa’s Story</h3>
        <div class="meta">Published on December 22, 2011</div>
        <div class="content">
          <p>Melissa was desperate and she “wanted God to do something,” when four college students came to her door with food and the gospel.</p>
        </div>
        <div class="readmore">
          <a href="">Read More</a>
        </div>
      </div>
    </article>
    <article>
      <div class="image">
        <%= link_to(image_tag("/images/holder.png"),"") %>
      </div>
      <div class="story">
        <h3>Cru Students Make an Impact in a Community: Melissa’s Story</h3>
        <div class="meta">Published on December 22, 2011</div>
        <div class="content">
          <p>Melissa was desperate and she “wanted God to do something,” when four college students came to her door with food and the gospel.</p>
        </div>
        <div class="readmore">
          <a href="">Read More</a>
        </div>
      </div>
    </article>
    <div class="clr"></div>
  </div>
  
<%#= render :partial => "/refinery/content_page" %>
<div class="clr"></div>
</div>

<div id="toolbox">
  <div class="inner">
    <div class="exp">
      
    </div>
    <a class="expandbtn"></a>
    
    <div class="exp">
      
    </div>
    <a class="expandbtn"></a>
  </div>
</div>
