<div id="welcome">
  Stories<span class="smaller">&nbsp;</span>
</div>

<div id="page_interior">
<% content_for :body_content_title, @item.title %>
<% content_for :body, render('refinery/news/shared/item_full', item: @item) %>
<%= render :partial => '/refinery/news/shared/body_content_right' %>
<%= render :partial => "/refinery/content_page" %>
</div>
